ul {
  list-style-type: none;
}
.galley-div {
  margin: 0 auto;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
